* {
    box-sizing: border-box;
}   

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

label{
    font-size: 14px;
}

input{
    outline: none;
    border: 2px solid black;
    border-radius: 7px;
    padding: 8px;
    width: 100%;
}

#bu{
    position: absolute;
    right: 10px;
    top: 4px;
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

#up{
    outline: none;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 50%;
}

.cont_senha{
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
}

.porce{
    background: conic-gradient(#000 65%, #eee 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progre{
    height: 100px;
    border-radius: 50%;
}

article{
     background-color: rgba(141, 137, 137, 0.548);
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
}