body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    position: relative;
    right: 70px;
}
input{
    outline: none;
    border: 2px solid black;
    border-radius: 7px;
    padding: 8px;
    width: 300px;
    max-width: 30%;
}

#bu{
    position: relative;
    bottom: 50px;
    display: flex;
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

#up{
    outline: none;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cont_senha{
    
}