body{
    
    font-family: Arial, Helvetica, sans-serif;
}
label{
    display: block;
    position: relative;
    left: 10px;
}
input{
    outline: none;
    border: 2px solid black;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
}
#bu{
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 165px;
    top: 186px;
    cursor: pointer;
}
#fechado{
    display: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 165px;
    top: 186px;
    cursor: pointer;    
}
#up{
    outline: none;
    border: 0;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    background-color: black;
    color: white;
    display: inline;
}